<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xrj.mapper.BizClassWeekRecordMapper">
  <resultMap id="BaseResultMap" type="com.xrj.bean.BizClassWeekRecord">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="school_id" jdbcType="VARCHAR" property="schoolId" />
    <result column="class_id" jdbcType="VARCHAR" property="classId" />
    <result column="teacher_id" jdbcType="VARCHAR" property="teacherId" />
    <result column="year_id" jdbcType="VARCHAR" property="yearId" />
    <result column="term_id" jdbcType="VARCHAR" property="termId" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="week" jdbcType="INTEGER" property="week" />
    <result column="key_point" jdbcType="VARCHAR" property="keyPoint" />
    <result column="special_care" jdbcType="VARCHAR" property="specialCare" />
    <result column="guardian_contact" jdbcType="VARCHAR" property="guardianContact" />
    <result column="event" jdbcType="VARCHAR" property="event" />
    <result column="main_problem" jdbcType="VARCHAR" property="mainProblem" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, school_id, class_id, teacher_id, year_id, term_id, status, week, key_point, special_care, 
    guardian_contact, event, main_problem, create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.xrj.bean.BizClassWeekRecordExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from biz_class_week_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from biz_class_week_record
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from biz_class_week_record
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.xrj.bean.BizClassWeekRecordExample">
    delete from biz_class_week_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xrj.bean.BizClassWeekRecord">
    insert into biz_class_week_record (id, school_id, class_id, 
      teacher_id, year_id, term_id, 
      status, week, key_point, 
      special_care, guardian_contact, event, 
      main_problem, create_time, update_time
      )
    values (#{id,jdbcType=VARCHAR}, #{schoolId,jdbcType=VARCHAR}, #{classId,jdbcType=VARCHAR}, 
      #{teacherId,jdbcType=VARCHAR}, #{yearId,jdbcType=VARCHAR}, #{termId,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{week,jdbcType=INTEGER}, #{keyPoint,jdbcType=VARCHAR}, 
      #{specialCare,jdbcType=VARCHAR}, #{guardianContact,jdbcType=VARCHAR}, #{event,jdbcType=VARCHAR}, 
      #{mainProblem,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xrj.bean.BizClassWeekRecord">
    insert into biz_class_week_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="schoolId != null">
        school_id,
      </if>
      <if test="classId != null">
        class_id,
      </if>
      <if test="teacherId != null">
        teacher_id,
      </if>
      <if test="yearId != null">
        year_id,
      </if>
      <if test="termId != null">
        term_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="week != null">
        week,
      </if>
      <if test="keyPoint != null">
        key_point,
      </if>
      <if test="specialCare != null">
        special_care,
      </if>
      <if test="guardianContact != null">
        guardian_contact,
      </if>
      <if test="event != null">
        event,
      </if>
      <if test="mainProblem != null">
        main_problem,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="schoolId != null">
        #{schoolId,jdbcType=VARCHAR},
      </if>
      <if test="classId != null">
        #{classId,jdbcType=VARCHAR},
      </if>
      <if test="teacherId != null">
        #{teacherId,jdbcType=VARCHAR},
      </if>
      <if test="yearId != null">
        #{yearId,jdbcType=VARCHAR},
      </if>
      <if test="termId != null">
        #{termId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="week != null">
        #{week,jdbcType=INTEGER},
      </if>
      <if test="keyPoint != null">
        #{keyPoint,jdbcType=VARCHAR},
      </if>
      <if test="specialCare != null">
        #{specialCare,jdbcType=VARCHAR},
      </if>
      <if test="guardianContact != null">
        #{guardianContact,jdbcType=VARCHAR},
      </if>
      <if test="event != null">
        #{event,jdbcType=VARCHAR},
      </if>
      <if test="mainProblem != null">
        #{mainProblem,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xrj.bean.BizClassWeekRecordExample" resultType="java.lang.Long">
    select count(*) from biz_class_week_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update biz_class_week_record
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.schoolId != null">
        school_id = #{record.schoolId,jdbcType=VARCHAR},
      </if>
      <if test="record.classId != null">
        class_id = #{record.classId,jdbcType=VARCHAR},
      </if>
      <if test="record.teacherId != null">
        teacher_id = #{record.teacherId,jdbcType=VARCHAR},
      </if>
      <if test="record.yearId != null">
        year_id = #{record.yearId,jdbcType=VARCHAR},
      </if>
      <if test="record.termId != null">
        term_id = #{record.termId,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.week != null">
        week = #{record.week,jdbcType=INTEGER},
      </if>
      <if test="record.keyPoint != null">
        key_point = #{record.keyPoint,jdbcType=VARCHAR},
      </if>
      <if test="record.specialCare != null">
        special_care = #{record.specialCare,jdbcType=VARCHAR},
      </if>
      <if test="record.guardianContact != null">
        guardian_contact = #{record.guardianContact,jdbcType=VARCHAR},
      </if>
      <if test="record.event != null">
        event = #{record.event,jdbcType=VARCHAR},
      </if>
      <if test="record.mainProblem != null">
        main_problem = #{record.mainProblem,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update biz_class_week_record
    set id = #{record.id,jdbcType=VARCHAR},
      school_id = #{record.schoolId,jdbcType=VARCHAR},
      class_id = #{record.classId,jdbcType=VARCHAR},
      teacher_id = #{record.teacherId,jdbcType=VARCHAR},
      year_id = #{record.yearId,jdbcType=VARCHAR},
      term_id = #{record.termId,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      week = #{record.week,jdbcType=INTEGER},
      key_point = #{record.keyPoint,jdbcType=VARCHAR},
      special_care = #{record.specialCare,jdbcType=VARCHAR},
      guardian_contact = #{record.guardianContact,jdbcType=VARCHAR},
      event = #{record.event,jdbcType=VARCHAR},
      main_problem = #{record.mainProblem,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xrj.bean.BizClassWeekRecord">
    update biz_class_week_record
    <set>
      <if test="schoolId != null">
        school_id = #{schoolId,jdbcType=VARCHAR},
      </if>
      <if test="classId != null">
        class_id = #{classId,jdbcType=VARCHAR},
      </if>
      <if test="teacherId != null">
        teacher_id = #{teacherId,jdbcType=VARCHAR},
      </if>
      <if test="yearId != null">
        year_id = #{yearId,jdbcType=VARCHAR},
      </if>
      <if test="termId != null">
        term_id = #{termId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="week != null">
        week = #{week,jdbcType=INTEGER},
      </if>
      <if test="keyPoint != null">
        key_point = #{keyPoint,jdbcType=VARCHAR},
      </if>
      <if test="specialCare != null">
        special_care = #{specialCare,jdbcType=VARCHAR},
      </if>
      <if test="guardianContact != null">
        guardian_contact = #{guardianContact,jdbcType=VARCHAR},
      </if>
      <if test="event != null">
        event = #{event,jdbcType=VARCHAR},
      </if>
      <if test="mainProblem != null">
        main_problem = #{mainProblem,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xrj.bean.BizClassWeekRecord">
    update biz_class_week_record
    set school_id = #{schoolId,jdbcType=VARCHAR},
      class_id = #{classId,jdbcType=VARCHAR},
      teacher_id = #{teacherId,jdbcType=VARCHAR},
      year_id = #{yearId,jdbcType=VARCHAR},
      term_id = #{termId,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      week = #{week,jdbcType=INTEGER},
      key_point = #{keyPoint,jdbcType=VARCHAR},
      special_care = #{specialCare,jdbcType=VARCHAR},
      guardian_contact = #{guardianContact,jdbcType=VARCHAR},
      event = #{event,jdbcType=VARCHAR},
      main_problem = #{mainProblem,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <select id ="listMsg" parameterType="map" resultType="java.util.HashMap">
  		SELECT cm.*,ec.GRADE,ec.TITLE FROM edu_class ec 
		LEFT JOIN biz_class_week_record cm ON ec.id = cm.class_id  
		where cm.status='NORMAL'
		<if test="yearId != null and yearId !='' ">
			and cm.year_id =  #{yearId,jdbcType=VARCHAR}
		</if>
		<if test="termId != null and termId !='' ">
			and cm.term_id =  #{termId,jdbcType=VARCHAR}
		</if>
		<if test="classId != null and classId !='' ">
			and cm.class_id =  #{classId,jdbcType=VARCHAR}
		</if>
  </select>
  <select id ="listCount" parameterType="map" resultType="java.util.HashMap">
		select ec.id,COUNT(cm.id) count from edu_class ec 
		  left join biz_class_week_record cm on ec.id=cm.class_id and cm.status='NORMAL' where 1=1 
		<if test="yearId != null and yearId !='' ">
			and cm.year_id =  #{yearId,jdbcType=VARCHAR}
		</if>
		<if test="termId != null and termId !='' ">
			and cm.term_id =  #{termId,jdbcType=VARCHAR}
		</if>
		<if test="classIds != null and !classIds.empty ">
			and cm.class_id in 
			<foreach collection="classIds" item="id" open="(" close=")" separator=",">
				#{id}
			</foreach>
		</if>
  </select>
</mapper>