<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xrj.mapper.BizHelpPolicyMapper">
    <resultMap id="BaseResultMap" type="com.xrj.bean.BizHelpPolicy">
        <id column="ID" property="id" jdbcType="VARCHAR" />
        <result column="TITLE" property="title" jdbcType="VARCHAR" />
        <result column="ATTACHMENT" property="attachment" jdbcType="VARCHAR" />
        <result column="DATE" property="date" jdbcType="TIMESTAMP" />
        <result column="CREATER" property="creater" jdbcType="VARCHAR" />
        <result column="CREATER_NAME" property="createrName" jdbcType="VARCHAR" />
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
        <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="STATUS" property="status" jdbcType="VARCHAR" />
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.xrj.bean.BizHelpPolicy" extends="BaseResultMap">
        <result column="CONTENT" property="content" jdbcType="LONGVARCHAR" />
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and
                                    #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="("
                                        close=")" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and
                                    #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="("
                                        close=")" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        <if test="fields == null">
            ID, TITLE, ATTACHMENT, DATE, CREATER, CREATER_NAME, CREATE_TIME, UPDATE_TIME, STATUS
        </if>
        <if test="fields != null">
            ${fields}
        </if>
    </sql>
    <sql id="Blob_Column_List">
    CONTENT
  </sql>
    <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs"
        parameterType="com.xrj.bean.BizHelpPolicyExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List" />
        ,
        <include refid="Blob_Column_List" />
        from biz_help_policy
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByExample" resultMap="BaseResultMap"
        parameterType="com.xrj.bean.BizHelpPolicyExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List" />
        from biz_help_policy
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <if test="startRow != null">
            limit #{startRow} , #{pageSize}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String">
        select
        ID,TITLE,ATTACHMENT,DATE,CREATER,CREATER_NAME,CREATE_TIME,UPDATE_TIME,STATUS,CONTENT
        ,
        <include refid="Blob_Column_List" />
        from biz_help_policy
        where ID = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from biz_help_policy
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
    <delete id="deleteByExample" parameterType="com.xrj.bean.BizHelpPolicyExample">
        delete from biz_help_policy
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
    </delete>
    <insert id="insert" parameterType="com.xrj.bean.BizHelpPolicy">
    insert into biz_help_policy (ID, TITLE, ATTACHMENT, 
      DATE, CREATER, CREATER_NAME, 
      CREATE_TIME, UPDATE_TIME, STATUS, 
      CONTENT)
    values (#{id,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{attachment,jdbcType=VARCHAR}, 
      #{date,jdbcType=TIMESTAMP}, #{creater,jdbcType=VARCHAR}, #{createrName,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.xrj.bean.BizHelpPolicy">
        insert into biz_help_policy
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="title != null">
                TITLE,
            </if>
            <if test="attachment != null">
                ATTACHMENT,
            </if>
            <if test="date != null">
                DATE,
            </if>
            <if test="creater != null">
                CREATER,
            </if>
            <if test="createrName != null">
                CREATER_NAME,
            </if>
            <if test="createTime != null">
                CREATE_TIME,
            </if>
            <if test="updateTime != null">
                UPDATE_TIME,
            </if>
            <if test="status != null">
                STATUS,
            </if>
            <if test="content != null">
                CONTENT,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="attachment != null">
                #{attachment,jdbcType=VARCHAR},
            </if>
            <if test="date != null">
                #{date,jdbcType=TIMESTAMP},
            </if>
            <if test="creater != null">
                #{creater,jdbcType=VARCHAR},
            </if>
            <if test="createrName != null">
                #{createrName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                #{content,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.xrj.bean.BizHelpPolicyExample"
        resultType="java.lang.Integer">
        select count(*) from biz_help_policy
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
    </select>
    <select id="list" resultType="com.xrj.bean.BizHelpPolicy"
        parameterType="com.xrj.bean.BizHelpPolicy">
        select * from biz_help_policy bhp
        <where>
            <if test="status != null ">
                and bhp.STATUS = #{status}
            </if>
            <if test="createrName != null ">
                <bind name="vCreaterName" value="'%' + createrName + '%'"></bind>
                and bhp.CREATER_NAME = like #{vCreaterName}
            </if>
            <if test="creater != null ">
                and bhp.CREATER = #{creater}
            </if>
            <if test="date != null">
                and bhp.DATE = #{date}
            </if>
            <if test="title != null ">
                <bind name="vTitle" value="'%' + title + '%'"></bind>
                and bhp.TITLE like #{vTitle}
            </if>
        </where>
        order by bhp.CREATE_TIME desc
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update biz_help_policy
        <set>
            <if test="record.id != null">
                ID = #{record.id,jdbcType=VARCHAR},
            </if>
            <if test="record.title != null">
                TITLE = #{record.title,jdbcType=VARCHAR},
            </if>
            <if test="record.attachment != null">
                ATTACHMENT = #{record.attachment,jdbcType=VARCHAR},
            </if>
            <if test="record.date != null">
                DATE = #{record.date,jdbcType=TIMESTAMP},
            </if>
            <if test="record.creater != null">
                CREATER = #{record.creater,jdbcType=VARCHAR},
            </if>
            <if test="record.createrName != null">
                CREATER_NAME = #{record.createrName,jdbcType=VARCHAR},
            </if>
            <if test="record.createTime != null">
                CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.updateTime != null">
                UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.status != null">
                STATUS = #{record.status,jdbcType=VARCHAR},
            </if>
            <if test="record.content != null">
                CONTENT = #{record.content,jdbcType=LONGVARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByExampleWithBLOBs" parameterType="map">
        update biz_help_policy
        set ID = #{record.id,jdbcType=VARCHAR},
        TITLE = #{record.title,jdbcType=VARCHAR},
        ATTACHMENT = #{record.attachment,jdbcType=VARCHAR},
        DATE = #{record.date,jdbcType=TIMESTAMP},
        CREATER = #{record.creater,jdbcType=VARCHAR},
        CREATER_NAME = #{record.createrName,jdbcType=VARCHAR},
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
        STATUS = #{record.status,jdbcType=VARCHAR},
        CONTENT = #{record.content,jdbcType=LONGVARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update biz_help_policy
        set ID = #{record.id,jdbcType=VARCHAR},
        TITLE = #{record.title,jdbcType=VARCHAR},
        ATTACHMENT = #{record.attachment,jdbcType=VARCHAR},
        DATE = #{record.date,jdbcType=TIMESTAMP},
        CREATER = #{record.creater,jdbcType=VARCHAR},
        CREATER_NAME = #{record.createrName,jdbcType=VARCHAR},
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
        STATUS = #{record.status,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.xrj.bean.BizHelpPolicy">
        update biz_help_policy
        <set>
            <if test="title != null">
                TITLE = #{title,jdbcType=VARCHAR},
            </if>
            <if test="attachment != null">
                ATTACHMENT = #{attachment,jdbcType=VARCHAR},
            </if>
            <if test="date != null">
                DATE = #{date,jdbcType=TIMESTAMP},
            </if>
            <if test="creater != null">
                CREATER = #{creater,jdbcType=VARCHAR},
            </if>
            <if test="createrName != null">
                CREATER_NAME = #{createrName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                STATUS = #{status,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                CONTENT = #{content,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where ID = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.xrj.bean.BizHelpPolicy">
    update biz_help_policy
    set TITLE = #{title,jdbcType=VARCHAR},
      ATTACHMENT = #{attachment,jdbcType=VARCHAR},
      DATE = #{date,jdbcType=TIMESTAMP},
      CREATER = #{creater,jdbcType=VARCHAR},
      CREATER_NAME = #{createrName,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      STATUS = #{status,jdbcType=VARCHAR},
      CONTENT = #{content,jdbcType=LONGVARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.xrj.bean.BizHelpPolicy">
    update biz_help_policy
    set TITLE = #{title,jdbcType=VARCHAR},
      ATTACHMENT = #{attachment,jdbcType=VARCHAR},
      DATE = #{date,jdbcType=TIMESTAMP},
      CREATER = #{creater,jdbcType=VARCHAR},
      CREATER_NAME = #{createrName,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      STATUS = #{status,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>