<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xrj.mapper.BizPrepareActiveFileMapper">
  <resultMap id="BaseResultMap" type="com.xrj.bean.BizPrepareActiveFileKey">
    <id column="prepare_active_id" jdbcType="VARCHAR" property="prepareActiveId" />
    <id column="courseware_id" jdbcType="VARCHAR" property="coursewareId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    prepare_active_id, courseware_id
  </sql>
  <select id="selectByExample" parameterType="com.xrj.bean.BizPrepareActiveFileExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from biz_prepare_active_file
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.xrj.bean.BizPrepareActiveFileKey">
    delete from biz_prepare_active_file
    where prepare_active_id = #{prepareActiveId,jdbcType=VARCHAR}
      and courseware_id = #{coursewareId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.xrj.bean.BizPrepareActiveFileExample">
    delete from biz_prepare_active_file
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xrj.bean.BizPrepareActiveFileKey">
    insert into biz_prepare_active_file (prepare_active_id, courseware_id)
    values (#{prepareActiveId,jdbcType=VARCHAR}, #{coursewareId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xrj.bean.BizPrepareActiveFileKey">
    insert into biz_prepare_active_file
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="prepareActiveId != null">
        prepare_active_id,
      </if>
      <if test="coursewareId != null">
        courseware_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="prepareActiveId != null">
        #{prepareActiveId,jdbcType=VARCHAR},
      </if>
      <if test="coursewareId != null">
        #{coursewareId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xrj.bean.BizPrepareActiveFileExample" resultType="java.lang.Long">
    select count(*) from biz_prepare_active_file
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update biz_prepare_active_file
    <set>
      <if test="record.prepareActiveId != null">
        prepare_active_id = #{record.prepareActiveId,jdbcType=VARCHAR},
      </if>
      <if test="record.coursewareId != null">
        courseware_id = #{record.coursewareId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update biz_prepare_active_file
    set prepare_active_id = #{record.prepareActiveId,jdbcType=VARCHAR},
      courseware_id = #{record.coursewareId,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <update id="batchSave">
    insert into biz_prepare_active_file (courseware_id, prepare_active_id)
    values 
    <foreach collection="list" item="item" separator=",">
     (#{item.coursewareId,jdbcType=VARCHAR}, #{item.prepareActiveId,jdbcType=VARCHAR})
    </foreach>
  </update>
</mapper>