<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xrj.mapper.ConsumerProductReserveMapper" >
  <resultMap id="BaseResultMap" type="com.xrj.bean.ConsumerProductReserve" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="PRODUCT_ID" property="productId" jdbcType="VARCHAR" />
    <result column="NUM" property="num" jdbcType="DECIMAL" />
    <result column="USE_REASON" property="useReason" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="TEACHER_ID" property="teacherId" jdbcType="VARCHAR" />
    <result column="TEACHER_NAME" property="teacherName" jdbcType="VARCHAR" />
    <result column="AUDITOR_ID" property="auditorId" jdbcType="VARCHAR" />
    <result column="AUDITOR_NAME" property="auditorName" jdbcType="VARCHAR" />
    <result column="AUDITOR_TIME" property="auditorTime" jdbcType="TIMESTAMP" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, PRODUCT_ID, NUM, USE_REASON, STATUS, TEACHER_ID, TEACHER_NAME, AUDITOR_ID, AUDITOR_NAME, 
    AUDITOR_TIME, REMARK, CREATE_TIME, UPDATE_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xrj.bean.ConsumerProductReserveExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from consumer_product_reserve 
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from consumer_product_reserve
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from consumer_product_reserve
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.xrj.bean.ConsumerProductReserveExample" >
    delete from consumer_product_reserve
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xrj.bean.ConsumerProductReserve" >
    insert into consumer_product_reserve (ID, PRODUCT_ID, NUM, 
      USE_REASON, STATUS, TEACHER_ID, 
      TEACHER_NAME, AUDITOR_ID, AUDITOR_NAME, 
      AUDITOR_TIME, REMARK, CREATE_TIME, 
      UPDATE_TIME)
    values (#{id,jdbcType=VARCHAR}, #{productId,jdbcType=VARCHAR}, #{num,jdbcType=DECIMAL}, 
      #{useReason,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{teacherId,jdbcType=VARCHAR}, 
      #{teacherName,jdbcType=VARCHAR}, #{auditorId,jdbcType=VARCHAR}, #{auditorName,jdbcType=VARCHAR}, 
      #{auditorTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.xrj.bean.ConsumerProductReserve" >
    insert into consumer_product_reserve
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="productId != null" >
        PRODUCT_ID,
      </if>
      <if test="num != null" >
        NUM,
      </if>
      <if test="useReason != null" >
        USE_REASON,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="teacherId != null" >
        TEACHER_ID,
      </if>
      <if test="teacherName != null" >
        TEACHER_NAME,
      </if>
      <if test="auditorId != null" >
        AUDITOR_ID,
      </if>
      <if test="auditorName != null" >
        AUDITOR_NAME,
      </if>
      <if test="auditorTime != null" >
        AUDITOR_TIME,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        #{num,jdbcType=DECIMAL},
      </if>
      <if test="useReason != null" >
        #{useReason,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="teacherId != null" >
        #{teacherId,jdbcType=VARCHAR},
      </if>
      <if test="teacherName != null" >
        #{teacherName,jdbcType=VARCHAR},
      </if>
      <if test="auditorId != null" >
        #{auditorId,jdbcType=VARCHAR},
      </if>
      <if test="auditorName != null" >
        #{auditorName,jdbcType=VARCHAR},
      </if>
      <if test="auditorTime != null" >
        #{auditorTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xrj.bean.ConsumerProductReserveExample" resultType="java.lang.Integer" >
    select count(*) from consumer_product_reserve
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update consumer_product_reserve
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.productId != null" >
        PRODUCT_ID = #{record.productId,jdbcType=VARCHAR},
      </if>
      <if test="record.num != null" >
        NUM = #{record.num,jdbcType=DECIMAL},
      </if>
      <if test="record.useReason != null" >
        USE_REASON = #{record.useReason,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.teacherId != null" >
        TEACHER_ID = #{record.teacherId,jdbcType=VARCHAR},
      </if>
      <if test="record.teacherName != null" >
        TEACHER_NAME = #{record.teacherName,jdbcType=VARCHAR},
      </if>
      <if test="record.auditorId != null" >
        AUDITOR_ID = #{record.auditorId,jdbcType=VARCHAR},
      </if>
      <if test="record.auditorName != null" >
        AUDITOR_NAME = #{record.auditorName,jdbcType=VARCHAR},
      </if>
      <if test="record.auditorTime != null" >
        AUDITOR_TIME = #{record.auditorTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update consumer_product_reserve
    set ID = #{record.id,jdbcType=VARCHAR},
      PRODUCT_ID = #{record.productId,jdbcType=VARCHAR},
      NUM = #{record.num,jdbcType=DECIMAL},
      USE_REASON = #{record.useReason,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=VARCHAR},
      TEACHER_ID = #{record.teacherId,jdbcType=VARCHAR},
      TEACHER_NAME = #{record.teacherName,jdbcType=VARCHAR},
      AUDITOR_ID = #{record.auditorId,jdbcType=VARCHAR},
      AUDITOR_NAME = #{record.auditorName,jdbcType=VARCHAR},
      AUDITOR_TIME = #{record.auditorTime,jdbcType=TIMESTAMP},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xrj.bean.ConsumerProductReserve" >
    update consumer_product_reserve
    <set >
      <if test="productId != null" >
        PRODUCT_ID = #{productId,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        NUM = #{num,jdbcType=DECIMAL},
      </if>
      <if test="useReason != null" >
        USE_REASON = #{useReason,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="teacherId != null" >
        TEACHER_ID = #{teacherId,jdbcType=VARCHAR},
      </if>
      <if test="teacherName != null" >
        TEACHER_NAME = #{teacherName,jdbcType=VARCHAR},
      </if>
      <if test="auditorId != null" >
        AUDITOR_ID = #{auditorId,jdbcType=VARCHAR},
      </if>
      <if test="auditorName != null" >
        AUDITOR_NAME = #{auditorName,jdbcType=VARCHAR},
      </if>
      <if test="auditorTime != null" >
        AUDITOR_TIME = #{auditorTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xrj.bean.ConsumerProductReserve" >
    update consumer_product_reserve
    set PRODUCT_ID = #{productId,jdbcType=VARCHAR},
      NUM = #{num,jdbcType=DECIMAL},
      USE_REASON = #{useReason,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      TEACHER_ID = #{teacherId,jdbcType=VARCHAR},
      TEACHER_NAME = #{teacherName,jdbcType=VARCHAR},
      AUDITOR_ID = #{auditorId,jdbcType=VARCHAR},
      AUDITOR_NAME = #{auditorName,jdbcType=VARCHAR},
      AUDITOR_TIME = #{auditorTime,jdbcType=TIMESTAMP},
      REMARK = #{remark,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <!-- 自定义 -->
  <resultMap type="ConsumerProductReserve" id="pageResultMap" extends="BaseResultMap">
  	 <result column="name" property="name" jdbcType="VARCHAR" />
  	 <result column="unit" property="unit" jdbcType="VARCHAR" />
  	 <result column="editable" property="editable" jdbcType="BOOLEAN" />
  </resultMap>
  <select id="setPageList" resultMap="pageResultMap">
  	SELECT cpr.*,ecp.name,ecp.unit   
  		from consumer_product_reserve cpr
		join easy_consume_product ecp on cpr.PRODUCT_ID=ecp.ID
	WHERE ecp.goods_type='MATERIAL'
		<if test="name !=null and name !=''">
			and ecp.`NAME` like #{name}
		</if>
		<if test="teacherId !=null and teacherId !=''">
			and cpr.`teacher_Id` = #{teacherId}
		</if>
		<if test="status !=null and status!=''">
			 and cpr.status= #{status}
		</if>
	ORDER BY cpr.CREATE_TIME desc
  </select>
  <select id="setPageList2" resultMap="pageResultMap">
  	SELECT cpr.*,ecp.name,ecp.unit,COUNT(ba.id)=0 editable   
  		from consumer_product_reserve cpr
		join easy_consume_product ecp on cpr.PRODUCT_ID=ecp.ID
		left JOIN business_audit ba on ba.ORDER_ID=cpr.id and ba.STATE='ACCEPTED'
	WHERE ecp.goods_type='CONSUME'
		<if test="name !=null and name !=''">
			and ecp.`NAME` like #{name}
		</if>
		<if test="teacherId !=null and teacherId !=''">
			and cpr.`teacher_Id` = #{teacherId}
		</if>
		<if test="status !=null and status!=''">
			 and cpr.status= #{status}
		</if>
	GROUP BY cpr.id
	ORDER BY cpr.CREATE_TIME desc
  </select>
  <select id="getDetail" resultMap="pageResultMap">
  	SELECT cpr.*,ecp.name,ecp.unit  
  		from consumer_product_reserve cpr
		join easy_consume_product ecp on cpr.PRODUCT_ID=ecp.ID
	where cpr.id=#{id}	
  </select>
  
  
  <select id="numericalPage" resultType="map">
		select ec.name,ec.unit,cpr.product_id,ec.number,cpr.id,
		sum(cpr.NUM) as consumeNumber from
		consumer_product_reserve cpr join
		easy_consume_product ec on
		cpr.PRODUCT_ID=ec.ID where 
		cpr.status='COMPLETE' and ec.goods_type=#{goodsType}
		<if test="staDate !=null">
			AND cpr.AUDITOR_TIME &gt;=#{staDate}
		</if>
		<if test="endDate !=null">
			AND cpr.AUDITOR_TIME &lt;=#{endDate}
		</if>

		<if test="eayName != null">
			and ec.name like #{eayName}
		</if>
		<if test="userId != null">
			and cpr.AUDITOR_ID= #{userId}
		</if>
		group by cpr.PRODUCT_ID
	</select>
  
</mapper>